{
  "$schema": "https://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 80,
  "semi": false,
  "trailingComma": "es5",
  "plugins": ["prettier-plugin-organize-imports"]
}
